<% content_for :page_body do %>
	<h1>About Out of Town Sports</h1>

	<h2>Acknowledgements</h2>
	<ul style="list-style-type: circle; margin-left: 1.3em;">
		<li><a href="http://mongodb.org" target="_blank">MongoDB</a></li>
		<li><a href="http://mongomapper.com" target="_blank">MongoMapper</a></li>
		<li><a href="http://www.sinatrarb.com" target="_blank">Sinatra</a></li>
		<li><a href="http://nginx.org" target="_blank">Nginx</a></li>
		<li><a href="http://jquery.com" target="_blank">jQuery</a></li>
		<li><a href="http://documentcloud.github.com/underscore/" target="_blank">Underscore.js</a></li>
	</ul>
<% end %>