<% content_for :page_title do %>
	About Out of Town Sports
<% end %>

<% content_for :page_body do %>
	<h1>About Out of Town Sports</h1>
	<p>Out of Town Sports (OOTS), is a directory of places to watch your team out of town. Add your own.</p>
	<br />
	<br />
	
	<h2>Acknowledgements</h2>
	<ul class="list">
		<li><a href="http://www.sinatrarb.com" target="_blank">Sinatra</a></li> 
		<li><a href="http://redis.io" target="_blank">Redis</a></li> 
		<li><a href="http://ohm.keyvalue.org/" target="_blank">Ohm</a></li> 
		<li><a href="https://github.com/seatgeek/soulmate" target="_blank">Soulmate<a></li>
		<li><a href="http://nginx.org" target="_blank">Nginx</a></li> 
		<li><a href="http://jquery.com" target="_blank">jQuery</a></li> 
		<li><a href="http://documentcloud.github.com/underscore/" target="_blank">Underscore.js</a></li>
		<li>
			<a href="http://developer.foursquare.com/" target="_blank">Foursquare API</a>
			<!-- <span style="display: inline-block; width: 16px; height: 16px; background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABC0lEQVQ4y2NgWHWJAQfOBOL/UOyHUx0SRxRN4UwkA1qgYoFAvBSIDdANAGm+BFW8Dmr7cyQD7gFxOxDfAOJkIH4FxB7IBqQhKcaFPwCxClS9DRDfRjaAGYj34tH8E4idkLwH8kYjehjkQxV/A+KraAYkI6mrgFoGD4NwIJ4MxE+A+A80INmAeD5UczuS5kCkMJkJ5qPZBAo4ISQN4UhsM6jrUL2Hxb+3kQILhqWhLvyPzYAoqHOQFbwFYnuoZk6kKEaO1skwL8BwEZaQB4ltx2JzAnpCIhSN6HgjugHJJGiG4UBcSXkj1OnISfkhEOcgeeckEPNjy0yBODJTF1rU8mDLjegYOX+E4FIHAHbNAmUGBcsPAAAAAElFTkSuQmCC); vertical-align: -9%; margin-left: 2px; border: 0;"></span> -->
		</li>
		<!-- <li><a href="http://developer.yahoo.com/geo/placemaker/" target="_blank">Yahoo! Placemaker&trade;</a></li> -->
		<!-- <li><a href="http://developer.yahoo.com/yql/console/" target="_blank">YQL</a></li> -->
	</ul>
<% end %>