@font-face {
	font-family: 'CalibriRegular';
	src: url('/stylesheets/fonts/calibri-webfont.eot');
	src: local('☺'), url('/stylesheets/fonts/calibri-webfont.woff') format('woff'), 
		url('/stylesheets/fonts/calibri-webfont.ttf') format('truetype'), 
		url('/stylesheets/fonts/calibri-webfont.svg#webfontdApeVMI5') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'CalibriRegular';
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

@media screen and (max-device-width: 480px) {
/*	html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

h1 {
	font-size: 25pt;
	margin-bottom: 14pt;
}

h2 {
	font-size: 16pt;
	margin-bottom: 8pt;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

label {
	font-size: 13px;
	color: #555;
}

ul {
	line-height: 1.5em;
}

/* http://net.tutsplus.com/tutorials/html-css-techniques/design-a-prettier-web-form-with-css-3/ */

input[type=text], 
textarea {
	font-family: 'CalibriRegular';
	padding: 4px 5px 0px 5px;
/*	border: solid 1px #e4e4e4;*/
	outline: 0;
/*	background: #FFFFFF url('bg_form.png') left top repeat-x;*/
/*	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #fafafa), to(#fff));
	background: -moz-linear-gradient(top, #FFFFFF, #fafafa 1px, #fff 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
*//*	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
*/}

input[type=text]:hover, textarea:hover,
input[type=text]:focus, textarea:focus {
/*	border-color: #c4c4c4;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
*/}

ul.select { 
	position: relative ;
}

ul.select li {
	display: none;
}

ul.select li.selected {
	display: block;
}

ul.select li a {
/*	background: white; */
	color: black;
/*	border-color: #CCC;*/
/*	border-style: solid;*/
/*	border-width: 1px;*/
	border: solid 1px #e4e4e4;
	display: block;
	padding: 6px 9px 7px;
	line-height: 1em;
/*	cursor: pointer;*/
}

ul.select li.selected a {
	background-color: white;
	background-image: url(/images/menu-open-icon.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
/*	border-bottom-left-radius: 0px 0px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 0px 0px;
	border-top-right-radius: 5px 5px;
*/}

ul.select.open li.selected a,
ul.select li.selected a:hover {
	background-image: url(/images/menu-open-icon-hover.png);
}

ul.select.open {
	border-top: 1px solid #ccc;
}

ul.select.open li {
	display: block;
}

ul.select.open li a {
	border-width: 0px 1px 1px;
	background-color: white;
}

ul.select li a:hover {
	background-color: #33d;
	color: white;
	text-decoration: none;
}


/************/

#spinner {
	position: fixed;
	top: 20px;
	left: 20px;
	height: 24px;
	width: 24px;
	background: white url(/images/spinner.gif) no-repeat 50% 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; 
}

#geolocation-permission {
	position: fixed;
	top: 2px;
	right: 20px;
	height: 1px;
	width: 1px;
	background-color: green;
}

#page-header {
	background-color: black;
	padding: 15px 0;
	text-align: center;
}

#page-subheader {
	margin-bottom: 16px;
	text-align: center;
	padding: 5px;
	background-color: #bbb;
	color: #fff;
	font-size: 16px;
}

#ad-bar {
	height: 110px;
	background-color: #eef;
	margin-bottom: 22px;
	border-top: 1px solid #ccd;
	border-bottom: 1px solid #ccd;
}

#page-body {
	width: 759px;
	min-height: 400px;
	margin: 0 auto 60px;
	padding: 0 6px;
}

#page-footer {
/*  border-top: 1px solid #ddd;*/
	background-color: #f6f6f6;
	padding: 15px 0px;
}

#page-footer>div {
	margin: 0 auto;
	width: 759px;
}

#page-footer ul {
	font-size: 14px;
	float: left;
	width: 33%;
}

a.site-title img {
}

#search-form {
	color: #888;
	font-size: 30px;
}

#search-city {
	color: black;
/*	text-transform: uppercase;*/
}

#search-city.preliminary {
	color: #aaa;
}

#search-team {
/*	text-transform: uppercase;*/
	width: 300px;
	font-size: 30px; 
/*	color: black;*/
/*	border: 1px solid #eee;*/
}

#add-bond {
	padding: 16px;
	line-height: 2em;
	background-color: #f4f4f4;
	position: relative;
}

#add-bond ul.select {
/*	line-height: 36px;*/
/*	margin: 60px 0px 0px 76px;*/
	margin-top: 2px;
	position: absolute;
	width: 110px;
	z-index: 999;
}

#bond-note,
#bond-team-name {
	width: 180px;
	padding: 6px 9px 7px;
	font-size: 16px; 	
}

#bond-note {
	width: 550px;
	min-height: 18px;
}

#venue-edit input[type=text],
#venue-pre-edit-search input[type=text],
#team-edit input[type=text] {
	font-family: 'CalibriRegular';
	font-size: 20px;
	width: 500px;
}

#team-edit li {
	margin-bottom: 12pt;
}

#mc_embed_signup input[type=text] {
	font-family: 'CalibriRegular';
	font-size: 16px;
}

/* http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html */

.rgbabutton, .rgbabutton:visited {
	background: #222 url(/images/button-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 11px; 
	color: #fff; 
	text-decoration: none;
	border-width: 0;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-family: Helvetica, sans-serif;
}
.rgbabutton:hover { background-color: #111; color: #fff; }
.rgbabutton:active { top: 1px; }

.tiny.rgbabutton, .tiny.rgbabutton:visited { 
	font-size: 10px; 
	padding: 4px 5px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	font-family: inherit;
}

.small.rgbabutton, .small.rgbabutton:visited { font-size: 11px; padding: 5px 9px; }
.rgbabutton, .rgbabutton:visited, .medium.rgbabutton,  .medium.rgbabutton:visited { 
	font-size: 13px; 
	font-weight: bold; 
	line-height: 1; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}
.large.rgbabutton, .large.rgbabutton:visited { font-size: 14px; padding: 6px 14px; }

.green.rgbabutton, .green.rgbabutton:visited		{ background-color: #5b0; }
.green.rgbabutton:hover						{ background-color: #5d2; }
.blue.rgbabutton, .blue.rgbabutton:visited		{ background-color: #05b; }
.blue.rgbabutton:hover							{ background-color: #07d; }
.red.rgbabutton, .red.rgbabutton:visited			{ background-color: #e33100; }
.red.rgbabutton:hover							{ background-color: #872300; }
.magenta.rgbabutton, .magenta.rgbabutton:visited		{ background-color: #b05; }
.magenta.rgbabutton:hover							{ background-color: #d47; }
.orange.rgbabutton, .orange.rgbabutton:visited		{ background-color: #ff5c00; }
.orange.rgbabutton:hover							{ background-color: #d45500; }
.yellow.rgbabutton, .yellow.rgbabutton:visited		{ background-color: #ffb515; }
.yellow.rgbabutton:hover							{ background-color: #fc9200; }
.gray.rgbabutton, .gray.rgbabutton:visited		{ background-color: #999; }
.gray.rgbabutton:hover						{ background-color: #aaa; }
