<% content_for :page_body do %>
	<div id="map" class="map" style="position: absolute; left: 0; width: 100%; height: 480px; margin-bottom: 12px; margin-top: -36px;"></div>

	<ul style="padding-top: 470px;">
		<% @k.each do |v| %>
			<li><a href="<%= v.permalink %>"><%= v.to_s %></a></li>
		<% end %>
	</ul>
<% end %>

<% content_for :page_head do %>
	<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
<% end %>

<% content_for :page_end do %>
	<script type="text/javascript" charset="utf-8">
		$script.ready('_bundle', function() {
			$(document).ready(function() {
				$('.map:visible:not(.intialized)').leaflet({
					points: <%= @k.map { |c| [ c.latitude, c.longitude, c.to_s, c.permalink ] }.to_json %>,
					markerClick: function(e) { e.target.options.click(e) }
				})
			});				
		});
	</script>
<% end %>